html {
	overflow-y: scroll;
}

.spell1, .spell2, .champ {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	margin: 0 2px 0 2px;
}


.matchHistory {
	position: absolute;
	display: none;
	border: 3px solid black;
	background-color: lightgray;
}

#matchInfoTable {
	width: 100%;
	border: 1px solid black;
}
#matchInfoTable td {
	width: 50%;
}
#statement {
	font-size: 1em;
}
.champInfo {
	clear: both;
}