html {
	overflow-y: scroll;
}

.spell1, .spell2, .champ {
	width: 50px;
	height: 50px;
	border: 2px solid black;
	margin: 0 2px 0 2px;
}


.matchHistory {
	position: absolute;
	display: none;
	border: 3px solid black;
	background-color: lightgray;
}

#playersDiv {
	width: 100%;
	border: 1px solid black;
}
#playersDiv>div>div {
	width: 100%;
	display:block;
	float: inherit;
}
#bluePlayersDiv {
	vertical-align: top;
	width: 50%;
	float: left;
}
#redPlayersDiv {
	vertical-align: top;
	width: 50%;
	float: right;
}
#statement {
	font-size: 1em;
}
.champInfo {
	clear: both;
}
.champInfo table {
	border-spacing: 0px;
}
.champInfo td {
	border: 1px solid black;
}
.color99FF99 {
	color: #449944;
}
.color99FF00 {
	color: #449900;
}
.colorFFFF00 {
	color: #999900;
}
.colorFF00FF {
	color: #990099;
}
.colorFF8C00 {
	color: #994600;
}